<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/comic.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='comic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
    <link rel="stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head class=fadeInDown >
  <body>
    <div class="comic1">
      <div class="frame54">
        <div class="rectangle54"></div>
        <div class="frame55">
          <div class="frame56">
            <div class="frame57">
              <div class="rectangle55"></div>
              <div class="frame58">
                <div class="frame59">
                  <div class="frame60">
                    <div class="frame61">
                      <div class="rectangle56"></div>
                      <div class="server-2">Server 2</div>
                    </div>
                    <div class="frame62">
                      <div class="rectangle56"></div>
                      <div class="server-vip">Server VIP</div>
                    </div>
                    <div class="frame63">
                      <div class="rectangle58"></div>
                      <div class="server-1">Server 1</div>
                    </div>
                    <div class="frame64">
                      <div class="rectangle56"></div>
                      <div class="server-3">Server 3</div>
                    </div>
                  </div>
                  <div class="nu-khng-xem">
                    Nếu không xem được truyện vui lòng đổi "SERVER HÌNH" bên
                    dưới
                  </div>
                </div>
                <div class="frame65">
                  <div class="rectangle60"></div>
                  <div class="s-dng-mi">
                    Sử dụng mũi tên trái (←) hoặc phải (→) để chuyển chapter
                  </div>
                </div>
                <div class="frame66">
                  <div class="frame67">
                    <div class="rectangle61"></div>
                    <div class="chap-sau">Chap sau</div>
                  </div>
                  <div class="frame68">
                    <div class="rectangle62"></div>
                    <div class="chap-trc">Chap trước</div>
                  </div>
                  <div class="frame69">
                    <div class="rectangle63"></div>
                    <div class="chng-1">Chương 1</div>
                  </div>
                </div>
                <div class="frame70">
                  <div class="rectangle64"></div>
                  <div class="bo-li-chng">Báo Lỗi Chương</div>
                </div>
              </div>
              <div class="frame71">
                <div class="trang-ch-kim">
                  Trang Chủ Kiếm Nghịch Thương Khung Chương 1
                </div>
              </div>
              <div class="frame72">
                <div class="cp-nht-lc">(Cập nhật lúc: 07:13 17/12/2022)</div>
                <div class="kim-nghch-thng">
                  Kiếm Nghịch Thương Khung - Chapter 1
                </div>
              </div>
            </div>
            <div class="frame73">
              <div class="frame74">
                <img
                  class="image-icon61"
                  alt=""
                  src="{{ url_for('static', filename='image15@2x.png') }}"
                />

                <img
                  class="image-icon62"
                  alt=""
                  src="{{ url_for('static', filename='image16@2x.png') }}"
                />

                <img
                  class="image-icon63"
                  alt=""
                  src="{{ url_for('static', filename='image17@2x.png') }}"
                />

                <img
                  class="image-icon64"
                  alt=""
                  src="{{ url_for('static', filename='image18@2x.png') }}"
                />

                <img
                  class="image-icon65"
                  alt=""
                  src="{{ url_for('static', filename='image19@2x.png') }}"
                />

                <img
                  class="image-icon66"
                  alt=""
                  src="{{ url_for('static', filename='image20@2x.png') }}"
                />

                <img
                  class="image-icon67"
                  alt=""
                  src="{{ url_for('static', filename='image21@2x.png') }}"
                />

                <img
                  class="image-icon68"
                  alt=""
                  src="{{ url_for('static', filename='image22@2x.png') }}"
                />

                <img
                  class="image-icon69"
                  alt=""
                  src="{{ url_for('static', filename='image23@2x.png') }}"
                />

                <img
                  class="image-icon70"
                  alt=""
                  src="{{ url_for('static', filename='image24@2x.png') }}"
                />

                <img
                  class="image-icon71"
                  alt=""
                  src="{{ url_for('static', filename='image25@2x.png') }}"
                />

                <img
                  class="image-icon72"
                  alt=""
                  src="{{ url_for('static', filename='image26@2x.png') }}"
                />

                <img
                  class="image-icon73"
                  alt=""
                  src="{{ url_for('static', filename='image27@2x.png') }}"
                />

                <img
                  class="image-icon74"
                  alt=""
                  src="{{ url_for('static', filename='image28@2x.png') }}"
                />
              </div>
              <div class="frame75"></div>
            </div>
            <div class="frame76">
              <div class="rectangle65"></div>
              <div class="frame77">
                <div class="frame78">
                  <div class="rectangle61"></div>
                  <div class="chap-sau">Chap sau</div>
                </div>
                <div class="frame79">
                  <div class="rectangle62"></div>
                  <div class="chap-trc">Chap trước</div>
                </div>
                <div class="frame80">
                  <div class="rectangle63"></div>
                  <div class="chng-1">Chương 1</div>
                </div>
              </div>
              <div class="trang-ch-kim1">
                Trang Chủ Kiếm Nghịch Thương Khung Chương 1
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trang-ch10">
        <div class="rectangle69"></div>
        <div class="frame81">
          <div class="th-loi7">Thể Loại</div>
          <div class="con-gi4">Con Gái</div>
          <div class="tm-truyn4">Tìm Truyện</div>
          <div class="theo-di5">Theo Dõi</div>
          <div class="fanpage4">Fanpage</div>
          <div class="trang-ch11">Trang Chủ</div>
          <div class="con-trai4">Con Trai</div>
          <div class="tho-lun4">Thảo Luận</div>
          <div class="lch-s4">Lịch Sử</div>
          <div class="xp-hng7">Xếp Hạng</div>
          <div class="discord4">Discord</div>
        </div>
        <div class="frame81">
          <a href="{{ url_for('search') }}"><div class="th-loi7">Thể Loại</div></a>
          <a href="{{ url_for('search') }}"><div class="con-gi4">Con Gái</div></a>
          <a href="{{ url_for('search') }}"><div class="tm-truyn4">Tìm Truyện</div></a>
          <a href="{{ url_for('home') }}"><div class="theo-di5">Theo Dõi</div></a>
          <a href="https://www.facebook.com/"><div class="fanpage4">Fanpage</div></a>
          <a href="{{ url_for('home') }}"><div class="trang-ch11">Trang Chủ</div></a>
          <a href="{{ url_for('search') }}"><div class="con-trai4">Con Trai</div></a>
          <a href="{{ url_for('home') }}"><div class="tho-lun4">Thảo Luận</div></a>
          <a href="{{ url_for('search') }}"><div class="lch-s4">Lịch Sử</div></a>
          <a href="{{ url_for('home') }}"><div class="xp-hng7">Xếp Hạng</div></a>
          <a href="https://discord.com/"><div class="discord4">Discord</div></a>
        </div>
      </div>
      <div class="ng-nhp7">
        <div class="frame83">
          <div class="language-button5">
            <div class="language-item"></div>
            <a href="{{ url_for('login') }}"><div class="ng-nhp8">Đăng nhập</div></a>
          </div>
        </div>
        <div class="mid-right-top-input2">
          <div class="mid-right-top-input-inner"></div>
          <div class="searchbar-input3">
            <div class="searchbar-input-child1"></div>
            <img class="vector-icon38" alt="" src="{{ url_for('static', filename='vector35.svg') }}" />
            <a href="{{ url_for('search') }}"><div class="bn-mun-tm5">Bạn muốn tìm truyện gì</div></a>
          </div>
        </div>
        <div class="language-button6">
          <div class="language4">
            <div class="language-item"></div>
            <a href="{{ url_for('signup') }}"><div class="ng-nhp8">Đăng Ký</div></a>
          </div>
        </div>
        <div class="left-top6">
          <div class="logo15">
            <img
              class="logo-child7"
              alt=""
              src="{{ url_for('static', filename='rectangle-13@2x.png') }}"
            />
          </div>
          <div class="comicbook10">
            <span class="comicbook-txt10">
              <span>Comic</span>
              <span class="book10">Book</span>
            </span>
          </div>
        </div>
      </div>
      <div class="footer4">
        <div class="footer-child5"></div>
        <div class="left29">
          <div class="logo16">
            <img
              class="logo-child8"
              alt=""
              src="{{ url_for('static', filename='rectangle-16@2x.png') }}"
            />
          </div>
          <div class="comicbook11">
            <span class="comicbook-txt10">
              <span>Comic</span>
              <span class="book10">Book</span>
            </span>
          </div>
          <div class="copyright-20234">Copyright © 2023 ComicBook</div>
          <div class="chnh-sch-bo4">Chính sách bảo mật</div>
          <div class="lin-h-qung4">Liên hệ quảng cáo</div>
        </div>
        <div class="mid5">
          <div class="location4">
            <img
              class="iconlycurvedlocation4"
              alt=""
              src="{{ url_for('static', filename='iconlycurvedlocation4.svg') }}"
            />

            <div class="ng-cng-qunh4">
              Đường Cống Quỳnh, Phường Phạm Ngũ Lão, Quận 1, TP. Hồ Chí Minh
            </div>
          </div>
          <div class="mail4">
            <img class="vector-icon40" alt="" src="{{ url_for('static', filename='vector37.svg') }}" />

            <img class="vector-icon41" alt="" src="{{ url_for('static', filename='vector38.svg') }}" />

            <div class="comicbookvlugmailcom4">ComicBook.VLU@gmail.com</div>
          </div>
          <div class="phone4">
            <div class="div41">09123456789</div>
            <img
              class="iconlycurvedcall4"
              alt=""
              src="{{ url_for('static', filename='iconlycurvedcall4.svg') }}"
            />
          </div>
          <div class="contact4">Contact</div>
        </div>
        <div class="right4">
          <div class="follow4">
            <div class="follow-us4">Follow Us</div>
            <img class="vector-icon42" alt="" src="{{ url_for('static', filename='vector39.svg') }}" />

            <img class="vector-icon43" alt="" src="{{ url_for('static', filename='vector40.svg') }}" />

            <img class="vector-icon44" alt="" src="{{ url_for('static', filename='vector41.svg') }}" />

            <img class="vector-icon45" alt="" src="{{ url_for('static', filename='vector42.svg') }}" />
          </div>
          <div class="mi-thng-tin4">
            Mọi thông tin và hình ảnh trên website đều được sưu tầm trên
            Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông
            tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào,
            khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.
          </div>
          <img class="vector-icon46" alt="" src="{{ url_for('static', filename='vector43.svg') }}" />
        </div>
        <img class="footer-child6" alt="" src="{{ url_for('static', filename='line-12.svg') }}" />
      </div>
    </div>
  </body>
</html>
