<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/search.css" />
    <link rel="stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body class="fadeInDown">
    <div class="search">
      <div class="frame41">
        <div class="frame42">
          <div class="rectangle46"></div>
          <div class="frame43">
            <div class="frame44">
              <img class="image-icon13" alt="" src="/static/image11@2x.png" />

              <div class="tm-trong-nhng">Tìm trong những thể loại này</div>
              <div class="truyn-c-th">
                Truyện có thể thuộc hoặc không thuộc thể loại này
              </div>
              <img class="image-icon14" alt="" src="/static/image11@2x.png" />

              <img class="image-icon15" alt="" src="/static/image11@2x.png" />

              <div class="loi-tr-nhng">Loại trừ những thể loại này</div>
            </div>
            <div class="frame45">
              <div class="rectangle47"></div>
              <a href="search.html"><div class="reset">Reset</div></a>
            </div>
            <div class="frame46">
              <div class="frame47">
                <img
                  class="image-icon16"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon17"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon18"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon19"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon20"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon21"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon22"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon23"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon24"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon25"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon26"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon27"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon28"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon29"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon30"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon31"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon32"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon33"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon34"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon35"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon36"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon37"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <div class="adventure1">Adventure</div>
                <div class="chuyn-sinh2">Chuyển Sinh</div>
                <div class="comedy">Comedy</div>
                <div class="demons">Demons</div>
                <div class="doujinshi">Doujinshi</div>
                <div class="fantasy1">Fantasy</div>
                <div class="harem">Harem</div>
                <div class="horror">Horror</div>
                <div class="isekai1">Isekai</div>
                <div class="mafia">Mafia</div>
                <div class="manhua1">Manhua</div>
                <div class="martial-arts">Martial Arts</div>
                <div class="mystery1">Mystery</div>
                <div class="one-shot">One shot</div>
                <div class="romance1">Romance</div>
                <div class="sci-fi">Sci-fi</div>
                <div class="shoujo">Shoujo</div>
                <div class="shounen">Shounen</div>
                <div class="slice-of-life">Slice of life</div>
                <div class="supernatural1">Supernatural</div>
                <div class="trng-sinh1">Trọng Sinh</div>
                <div class="webtoon">Webtoon</div>
                <img
                  class="image-icon38"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon39"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon40"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon41"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon42"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon43"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon44"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon45"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon46"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon47"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon48"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon49"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <div class="anime1">Anime</div>
                <div class="comic">Comic</div>
                <div class="drama">Drama</div>
                <div class="historical">Historical</div>
                <div class="josei">Josei</div>
                <div class="manhwa">Manhwa</div>
                <div class="ngn-tnh">Ngôn Tình</div>
                <div class="school-life">School Life</div>
                <div class="shoujo-ai">Shoujo Ai</div>
                <div class="sports">Sports</div>
                <div class="truyn-mu1">Truyện Màu</div>
                <img
                  class="image-icon50"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon51"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon52"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon53"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon54"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <div class="c-i">Cổ Đại</div>
                <div class="gender-bender">Gender Bender</div>
                <div class="magic">Magic</div>
                <div class="psychological">Psychological</div>
                <div class="shounen-ai">Shounen Ai</div>
                <div class="xuyn-khng1">Xuyên Không</div>
                <img
                  class="image-icon55"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <img
                  class="image-icon56"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <img
                  class="image-icon57"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <div class="action1">Action</div>
                <div class="huyn-huyn">Huyền Huyễn</div>
                <div class="seinen">Seinen</div>
                <img
                  class="image-icon58"
                  alt=""
                  src="/static/image12@2x.png"
                />

                <img
                  class="image-icon59"
                  alt=""
                  src="/static/image13@2x.png"
                />

                <div class="detective1">Detective</div>
                <div class="tragedy">Tragedy</div>
                <img
                  class="image-icon60"
                  alt=""
                  src="/static/image14@2x.png"
                />

                <div class="military">Military</div>
              </div>
              <div class="th-loi-truyn">Thể loại truyện</div>
            </div>
            <div class="frame48">
              <div class="rectangle48"></div>
              <div class="quc-gia">Quốc gia</div>
              <div class="tnh-trng1">Tình Trạng</div>
              <div class="rectangle49"></div>
            </div>
            <div class="frame49">
              <div class="rectangle50"></div>
              <div class="s-lng-chng">Số lượng chương</div>
              <div class="rectangle51"></div>
              <div class="sp-xp">Sắp xếp</div>
            </div>
            <div class="frame50">
              <div class="rectangle52"></div>
              <a href="information.html"><div class="tm-kim">Tìm kiếm</div></a>
            </div>
          </div>
        </div>
        <div class="tm-kim-nng">Tìm kiếm nâng cao</div>
      </div>
      <div class="ng-nhp5">
        <div class="frame51">
          <div class="language-button3">
            <div class="language-child"></div>
            <a href="{{ url_for('login') }}"><div class="ng-nhp6">Đăng nhập</div></a>
          </div>
        </div>
        <div class="mid-right-top-input1">
          <div class="mid-right-top-input-item"></div>
          <div class="searchbar1">
            <div class="searchbar-item"></div>
            <img class="vector-icon29" alt="" src="/static/vector19.svg" />

            <a href="search.html"><div class="bn-mun-tm4">Bạn muốn tìm truyện gì</div></a>
          </div>
        </div>
        <div class="language-button4">
          <div class="language2">
            <div class="language-child"></div>
            <a href="{{ url_for('signup') }}"><div class="ng-k9">Đăng ký</div></a>
          </div>
        </div>
        <div class="left-top5">
          <div class="logo13">
            <img
              class="logo-child5"
              alt=""
              src="/static/rectangle-13@2x.png"
            />
          </div>
          <div class="comicbook8">
            <span class="comicbook-txt8">
              <span>Comic</span>
              <span class="book8">Book</span>
            </span>
          </div>
        </div>
      </div>
      <div class="footer3">
        <div class="footer-child3"></div>
        <div class="left28">
          <div class="logo14">
            <img
              class="logo-child6"
              alt=""
              src="/static/rectangle-15@2x.png"
            />
          </div>
          <div class="comicbook9">
            <span class="comicbook-txt8">
              <span>Comic</span>
              <span class="book8">Book</span>
            </span>
          </div>
          <div class="copyright-20233">Copyright © 2023 ComicBook</div>
          <div class="chnh-sch-bo3">Chính sách bảo mật</div>
          <div class="lin-h-qung3">Liên hệ quảng cáo</div>
        </div>
        <div class="mid4">
          <div class="location3">
            <img
              class="iconlycurvedlocation3"
              alt=""
              src="/static/iconlycurvedlocation3.svg"
            />

            <div class="ng-cng-qunh3">
              Đường Cống Quỳnh, Phường Phạm Ngũ Lão, Quận 1, TP. Hồ Chí Minh
            </div>
          </div>
          <div class="mail3">
            <img class="vector-icon31" alt="" src="/static/vector28.svg" />

            <img class="vector-icon32" alt="" src="/static/vector29.svg" />

            <div class="comicbookvlugmailcom3">ComicBook.VLU@gmail.com</div>
          </div>
          <div class="phone3">
            <div class="div40">09123456789</div>
            <img
              class="iconlycurvedcall3"
              alt=""
              src="/static/iconlycurvedcall3.svg"
            />
          </div>
          <div class="contact3">Contact</div>
        </div>
        <div class="right3">
          <div class="follow3">
            <div class="follow-us3">Follow Us</div>
            <img class="vector-icon33" alt="" src="/static/vector30.svg" />

            <img class="vector-icon34" alt="" src="/static/vector31.svg" />

            <img class="vector-icon35" alt="" src="/static/vector32.svg" />

            <img class="vector-icon36" alt="" src="/static/vector33.svg" />
          </div>
          <div class="mi-thng-tin3">
            Mọi thông tin và hình ảnh trên website đều được sưu tầm trên
            Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông
            tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào,
            khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.
          </div>
          <img class="vector-icon37" alt="" src="/static/vector34.svg" />
        </div>
        <img class="footer-child4" alt="" src="/static/line-12.svg" />
      </div>
      <div class="trang-ch7">
        <div class="rectangle53"></div>
        <div class="frame52">
          <div class="th-loi5">Thể Loại</div>
          <div class="con-gi2">Con Gái</div>
          <div class="tm-truyn2">Tìm Truyện</div>
          <div class="theo-di3">Theo Dõi</div>
          <div class="fanpage2">Fanpage</div>
          <div class="trang-ch8">Trang Chủ</div>
          <div class="con-trai2">Con Trai</div>
          <div class="tho-lun2">Thảo Luận</div>
          <div class="lch-s2">Lịch Sử</div>
          <div class="xp-hng5">Xếp Hạng</div>
          <div class="discord2">Discord</div>
        </div>
        <div class="frame52">
          <a href="{{ url_for('home') }}"><div class="th-loi5">Thể Loại</div></a>
          <a href="{{ url_for('search') }}"><div class="con-gi2">Con Gái</div></a>
          <a href="{{ url_for('search') }}"><div class="tm-truyn2">Tìm Truyện</div></a>
          <a href="{{ url_for('home') }}"><div class="theo-di3">Theo Dõi</div></a>
          <a href="https://www.facebook.com/"><div class="fanpage2">Fanpage</div></a>
          <a href="{{ url_for('home') }}"><div class="trang-ch8">Trang Chủ</div></a>
          <a href="{{ url_for('search') }}"><div class="con-trai2">Con Trai</div></a>
          <a href="information.html#binh-luan"><div class="tho-lun2">Thảo Luận</div></a>
          <a href="{{ url_for('search') }}"><div class="lch-s2">Lịch Sử</div></a>
          <a href="{{ url_for('home') }}"><div class="xp-hng5">Xếp Hạng</div></a>
          <a href="https://discord.com/"><div class="discord2">Discord</div></a>
        </div>
      </div>
    </div>
  </body>
</html>
